body {
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  text-align: left;
  background-color: #fff;
  box-sizing: border-box;
}
.heroSection {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.column1__btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  border: 1px solid transparent;
  margin-bottom: 8px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.1);
  line-height: 1.5;
  border-radius: 6.1875rem;
}
.column1Description {
  color: rgb(30, 32, 34);
  margin-bottom: 24px;
  text-align: left;
  text-size-adjust: 100%;
}

.column1Description h1 {
  display: block;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.column1Description p {
  color: rgb(119, 131, 143);
  display: block;
  font-size: 16px;
  line-height: 27.2px;
  margin-block-end: 16px;
  margin-bottom: 16px;
}
.column1Video a {
  background-color: rgb(55, 125, 255);
  border-radius: 99px;
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 24px;
  margin-right: 8px;
  height: 50px;
  min-width: 205px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  text-align: center;
  text-decoration-line: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
}
.column1Video a:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 5px rgba(55, 125, 255, .2);
}
.fas {
}
.column2 {
}
.column2Figure {
}
.injected-svg {
}
.js-svg-injector {
}
.app-user-0 {
}
.fill-gray-300 {
}
.app-user-1 {
}
.fill-white {
}
.app-user-3 {
}
.fill-primary {
}
.app-user-4 {
}
.fill-dark {
}
.app-user-5 {
}
.fill-none {
}
.stroke-dark {
}
.app-user-2 {
}
.app-user-6 {
}
.stroke-gray-300 {
}
.servicesSection {
  // .servicesSection__title

  &__title {
  }

  // .servicesSection__btn

  &__btn {
  }
}
.cardsSection {
}
.card {
  // .card__header

  &__header {
  }

  // .card__body

  &__body {
  }
}
.cardBody {
  // .cardBody__btn

  &__btn {
  }
}
.ie-height-72 {
}
.w-100 {
}
.max-width-10 {
}
.mx-auto {
}
.mb-3 {
}
.icon-7-1 {
}
.fill-gray-400 {
}
.icon-7-2 {
}
.icon-7-3 {
}
.stroke-gray-400 {
}
.icon-7-4 {
}
.stroke-primary {
}
.icon-7-0 {
}
.stroke-white {
}
.icon-40-0 {
}
.icon-40-1 {
}
.icon-40-2 {
}
.icon-40-3 {
}
.icon-40-4 {
}
.icon-40-5 {
}
.icon-24-0 {
}
.icon-24-1 {
}
.icon-24-2 {
}
.icon-24-3 {
}
.icon-24-4 {
}
.my-0 {
}
.featuresSection {
  // .featuresSection__title

  &__title {
  }
}
.icon-27-0 {
}
.icon-27-1 {
}
.icon-27-2 {
}
.icon-27-3 {
}
.icon-27-4 {
}
.ie-house-agency {
}
.support-man-0 {
}
.support-man-2 {
}
.support-man-3 {
}
.support-man-4 {
}
.support-man-5 {
}
.support-man-1 {
}
.liItem {
}
.faqTopicsSection {
}
.menu {
}
.column {
}
.ctaSection {
}
.position-absolute {
}
.top-0 {
}
.left-0 {
}
.max-width-27 {
}
.z-index-n1 {
}
.abstract-shapes-8-0 {
}
.fill-info {
}
.abstract-shapes-8-1 {
}
.fill-warning {
}
.abstract-shapes-8-2 {
}
.stroke-info {
}
.position-absolute {
}
.bottom-0 {
}
.right-0 {
}
.w-100 {
}
.max-width-27 {
}
.z-index-n1 {
}
.abstract-shapes-5-0 {
}
.abstract-shapes-5-2 {
}
.abstract-shapes-5-3 {
}
.stop-color-primary {
}
.stop-color-indigo {
}
.abstract-shapes-5-4 {
}
.statsSection {
}
.pricingSection {
}
.border {
}
.media {
}
.card-footer {
}
.btn {
}
.btn-sm {
}
.btn-soft-secondary {
}
.transition-3d-hover {
}
.clientsSection {
}
.footerTop {
}
.footerBottom {
}
.goToTop {
}
